body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    background-color: hsl(210, 46%, 95%);
    padding: 2rem;
}

p {
    font-size: 12px;
    word-spacing: .02rem;
    /* color: rgb(180, 180, 228); */ /* Added custom color to each element*/
    font-weight: 500; /* Change from 200 to 500 */
}

.container{
    /* I added this div to center the content */
    height: 90vh; /* The height of the container should be 100% of the viewport height */
    /* Display flex will help us to center the container */
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    gap: 30px;
    margin-bottom: 1rem;
    max-width: 1110px; /* First of all the maximum width is 1110 pixels, this will prevent the cards from being excessively wide  */
}


.same-color {
    color: hsl(210, 46%, 95%);
}

.different-color {
    color: hsl(217, 19%, 35%);
}

.card{
    box-shadow: 18px 16px 17px -22px rgba(0,0,0,0.74); /* We add some nice shadows */
}

.I,
.II,.III,
.IV,
.V {
    position: relative;
    top: 1rem;
    font-size: 10px;
}

.I {
    right: 4.7rem;
}

.III {
    right: 4rem;
}


.II {
    position: absolute;
    top: 1rem;
    left: 2rem;
}

.V {
    right: 5rem;
}


.IV {
    position: absolute;
    top: 1rem;
    left: 2rem;
}



.D {
    margin-bottom: 2rem;
}


.item-1,
.item-2,
.item-3,
.item-4,
.item-5 {
    padding: 20px;
    border-radius: .6rem;
}

.item-1 {
    grid-column: 1 / span 2;
    grid-row: 1;
    background-image:url(../images/bg-pattern-quotation.svg) ; /* Added the correct route image */
    background-color: hsl(263, 55%, 52%);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */ /* not needed */
    background-position: 80% 0% ; /* Adjust image to the correct position */
    color: hsl(210, 46%, 95%) !important;
}

.item-2 {
    background-color: hsl(217, 19%, 35%);
    max-width: 200px;
    color: hsl(210, 46%, 95%);
}


.item-3 {
    grid-column: 4;
    grid-row: 1 / span 2;
    background-color: hsl(0, 0%, 100%);
    max-width: 200px;
    color: hsl(217, 19%, 35%);
}

.item-4 {
    background-color: hsl(0, 0%, 100%);
    max-width: 200px;
    color: hsl(217, 19%, 35%);
}

.item-5 {
    grid-column: 2 / span 2;
    grid-row: 2;
    background-color: hsl(219, 29%, 14%);
    color: hsl(210, 46%, 95%);
}

/* Add opacity 70% to review paragraph */
.paragraph{
    opacity: 70%; 
}

.Daniel {
    position: relative;
    left: 1rem;
    color: hsl(210, 46%, 95%);

}

.Daniel-i,
.Jonathan-i,
.Kira-i,
.Jeanette-i,
.Patrick-i {
    max-width: 1.7rem;
    float: left;
    border: 0.13rem ivory solid;
    border-radius: 2rem;
}

.Jonathan,
.Kira,
.Jeanette,
.Patrick {
    position: relative;
    left: 1rem;
    margin-bottom: 2rem;
}

.Jonathan,
.Patrick {
    color: hsl(210, 46%, 95%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* We want that when the width of the device is less than 768 pixels, the following styles begin to be applied */
@media screen and (max-width: 768px) {
    .container{
        height: 100%;
    }

   /* I use flexbox to mobile design */ 
    .grid-container{
        display: flex;
        flex-direction: column;
    }

    /* Unset width of this elements to adjust later */
    .item-2, .item-3, .item-4{
        max-width: unset;
    }

    .card{
        box-sizing: border-box; /* This is so that the measurements are absolute, whether it is padding or margin, they are counted to the width and not added */
        min-width: 327px;
        max-width: 400px;
    }

}