body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    background-color: hsl(0, 0%, 81%);
    padding: 2rem;
}

p {
    font-size: 12px;
    word-spacing: .02rem;
    color: rgb(180, 180, 228);
    font-weight: 200;
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    gap: 30px;
    margin-bottom: 1rem;

}


.same-color {
    color: hsl(210, 46%, 95%);
}

.different-color {
    color: hsl(217, 19%, 35%);
}

.I,
.II,.III,
.IV,
.V {
    position: relative;
    top: 1rem;
    font-size: 10px;
}

.I {
    right: 4.7rem;
}

.III {
    right: 4rem;
}


.II {
    position: absolute;
    top: 1rem;
    left: 2rem;
}

.V {
    right: 5rem;
}


.IV {
    position: absolute;
    top: 1rem;
    left: 2rem;
}



.D {
    margin-bottom: 2rem;
}


.item-1,
.item-2,
.item-3,
.item-4,
.item-5 {
    padding: 20px;
    border-radius: .6rem;
}

.item-1 {
    grid-column: 1 / span 2;
    grid-row: 1;
    background-image:url(images/bg-pattern-quotation.svg) ;
    background-color: hsl(263, 55%, 52%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:top center ;
}

.item-2 {
    background-color: hsl(217, 19%, 35%);
    max-width: 200px;
}


.item-3 {
    grid-column: 4;
    grid-row: 1 / span 2;
    background-color: hsl(0, 0%, 100%);
    max-width: 200px;
}

.item-4 {
    background-color: hsl(0, 0%, 100%);
    max-width: 200px;
}

.item-5 {
    grid-column: 2 / span 2;
    grid-row: 2;
    background-color: hsl(219, 29%, 14%);
}

.Daniel {
    position: relative;
    left: 1rem;
    color: hsl(210, 46%, 95%);

}

.Daniel-i,
.Jonathan-i,
.Kira-i,
.Jeanette-i,
.Patrick-i {
    max-width: 1.7rem;
    float: left;
    border: 0.13rem ivory solid;
    border-radius: 2rem;
}

.Jonathan,
.Kira,
.Jeanette,
.Patrick {
    position: relative;
    left: 1rem;
    margin-bottom: 2rem;
}

.Jonathan,
.Patrick {
    color: hsl(210, 46%, 95%);
}




.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}